//Used "color name finder" to find the color names to the color codes. e 
//Source: https://colordesigner.io/color-name-finder

//All colors for the resourceapp: 

$darkslategray: #2A324B; 
$steelblue: #58699D; 
$gainsboro: #E1E5EE; 
$white:  #fff; 
