//Brukte "color name finder" for å finne fargenavnene til fargekodene 
//Link: https://colordesigner.io/color-name-finder

//Her er alle fargene til resourceapp samlet: 

$darkslategray: #2A324B; 
$steelblue: #58699D; 
$gainsboro: #E1E5EE; 
$white:  #fff; 
